<div id="navigation" class="btn-group dropup">
  <button class="btn btn-info">Navigation</button>
  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% _.each(selectList, function(item) { %>
      <li class="<%= item %>">
        <a href="#"><%= _.str.titleize(item) %></a>
      </li>
    <% }); %>
  </ul>
</div>
