<td class="color_background span1">
  <a class="btn btn-mini" href="#">
    <i class="icon-resize-vertical"></i>
  </a>
</td>

<td class="color_background span3">
  <span class="label label-inverse"><%= factor %></span>
</td>

<td class="color_background span3">
  <div class="input-append color" data-color-format="rgb" >
    <input type="text" class="span2" value="" readonly="">
    <span class="add-on"><i class="icon-edit"></i></span>
  </div>
</td>
